{% extends 'missions/base.html' %}
{% load static %}

{% block content %}

<div >
    <div class="text-center">
        <h2>ABOUT US</h2>
    </div>
    <div>
        <p>
            Outreah Africa Missions is mandate and mission given to God's servant to Spread the Word to the World, to those who are in darkness and perishing.This mission stated in the year 1981 and we have been combating darkness throughout Africa and to the rest of the World at large
        </p><br>
        <p></p>
        <p>
            Evangelist Emma Ibrahim is God's servant and he has given him to mandate to bring about deliverance and healing to the sick and freedom to those under the captivity of satan
        </p><br>
        <div class="text-center">
        <img src="{% static 'images/i.jpg' %}" height="90%" width="90%" alt="Evangelist Emma Ibrahim">
        </div>
    </div>
</div>

{% endblock %}