{% extends 'missions/base.html' %}

{% block content %}

<div>
    <div class="text-center">
        <h2>CONTACT US</h2><br>
        <p></p>
        <h4>Reach out to us on all our platforms</h4>
    </div>
Facebook: <a href="">outreachafrica/fb/missions</a>
<p></p>
WhatsApp: <a href="">outreachafrica/fb/missions</a>
<p></p>
Instagram: <a href="">outreachafrica/fb/missions</a>
<p></p>
Twitter: <a href="">outreachafrica/fb/missions</a>
<p></p>
Youtube: <a href="">outreachafrica/fb/missions</a>
<p></p>
Telegram: <a href="">outreachafrica/fb/missions</a>
<p></p>
</div>

{% endblock %}