{% extends 'missions/base.html' %}

{% block content %}

<h3>SUPPORT THE WORK OF GOD</h3>
<p></p>
<div class="text-center">
    <h4>Support The Africa Outreach Missions</h4><br>
</div>
    <p></p>
    <b><p>Account Name: Africa Outreach Mission</p></b><br>
    <b><p>Account Number: 000000000</p></b><br>
    <b><p>Bank Name: God Bank</p></b><br>
    <p></p>
    <div class="text-center">
        <i><p>God loves a cheerful giver and God will be bless and reward you for giving to the foundation. Thanks</p></i>
    </div>

{% endblock %}